---
import '../styles/index.scss';
import '../styles/slider.scss';
import Layout from '../layouts/Layout.astro';
import translation from '../locales/en.json';
const {lang = "en" } = Astro.props;

---

<script defer type="module" hoist>
import '../scripts/index.ts';
</script>

<style>

</style>

<Layout lang={lang} title="index" description="index">
<ul class="slider">
    <li>
        <a href={Astro.site.pathname+"story/nestpower"}>
            <picture>
                <source srcset="/img/index/sp/headimg01-sp_en.jpg" media="(max-width: 480px)" />
                <img src="/img/index/headimg01_en.jpg" width="1920" height="800" alt="" />
            </picture>
        </a>
    </li>
    <li>
        <a href={Astro.site.pathname+"story/"}>
            <picture>
                <source srcset="/img/index/sp/headimg02-sp_en.jpg" media="(max-width: 480px)" />
                <img src="/img/index/headimg02_en.jpg" width="1920" height="800" alt="" />
            </picture>
        </a>
    </li>
    <li>
        <a href={Astro.site.pathname+"story/threepromises"}>
            <picture>
                <source srcset="/img/index/sp/headimg03-sp_en.jpg" media="(max-width: 480px)" />
                <img src="/img/index/headimg03_en.jpg" width="1920" height="800" alt="" />
            </picture>
        </a>
    </li>
</ul>
<section id="items">
    <h2 title="Season Item">{ translation.index.items.title }</h2>
    <ul>
        <li>
            <a href={ Astro.site.pathname+"products/facecream/"}>
                <h3>{ translation.index.items[1].title }</h3>
                <p><img src="/img/index/product/product01.jpg" alt="" /></p>
            </a>
        </li>
        <li>
            <a href={ Astro.site.pathname+"products/handcreamrose/"}>
                <h3>{ translation.index.items[3].title }</h3>
                <p><img src="/img/index/product/product04.jpg" alt="" /></p>
            </a>
        </li>
        <li>
            <a href={ Astro.site.pathname+"products/lotion/"}>
                <h3>{ translation.index.items[2].title }</h3>

                <p><img src="/img/index/product/product02.jpg" alt="" /></p>
            </a>
        </li>
        <li>
            <a href={ Astro.site.pathname+"products/enzyme/"}>
                <h3>{ translation.index.items[4].title }</h3>
                <p><img src="/img/index/product/product05.jpg" alt="" /></p>
            </a>
        </li>
    </ul>
</section>
<section id="media">
    <h2 title="Season Item">{ translation.index.mediareview.title }</h2>
    <ul>
        <li>
                <h3>{ translation.index.mediareview[1].title }</h3>
                <p><img src={ translation.index.mediareview[1].imgUrl } alt="" /></p>
        </li>
        <li>
                <h3>{ translation.index.mediareview[2].title }</h3>
                <p><img src={ translation.index.mediareview[2].imgUrl } alt="" /></p>
        </li>
        <li>
                <h3>{ translation.index.mediareview[3].title }</h3>

                <p><img src={ translation.index.mediareview[3].imgUrl } alt="" /></p>
        </li>
        <li>
                <h3>{ translation.index.mediareview[4].title }</h3>
                <p><img src={ translation.index.mediareview[4].imgUrl } alt="" /></p>
        </li>
         <li>
                <h3>{ translation.index.mediareview[5].title }</h3>
                <p><img src={ translation.index.mediareview[5].imgUrl } alt="" /></p>
        </li>
    </ul>
</section>
<section id="products">
    <h2>Lineups</h2>
    <section id="HealthyFood">
        <header data-sal="slide-up" data-sal-duration="1500" data-sal-easing="linear">
            <h3 title={translation.index.food.title}></h3>
            <p>
                {translation.index.food.sub}<em>{translation.index.food.emphasis}</em>
            </p>
        </header>

        <div data-sal="slide-up" data-sal-duration="1500" data-sal-easing="linear" data-sal-delay="1000">
            <p>{translation.index.food.body}</p>
            <p class="button">
                <a href=Astro.site.pathname+"products#healthy"}>{translation.index.category.button}</a>
            </p>
        </div>
    </section>

    <section id="SkinCare">
        <header data-sal="slide-up" data-sal-duration="1500" data-sal-easing="linear">
            <h3 title={translation.index.care.title}></h3>
            <p>
                {translation.index.care.sub}<em class="attention">{translation.index.care.attention.symbol}</em>
                <em>{translation.index.care.emphasis}</em>
            </p>
            <p class="attention">{translation.index.care.attention.symbol}{translation.index.care.attention.comment}</p>
        </header>
        <div data-sal="slide-up" data-sal-duration="1500" data-sal-easing="linear" data-sal-delay="1000">
            <p>{translation.index.care.body}</p>
            <p class="button">
                <a href={Astro.site.pathname+"products#cosmetics"}>{translation.index.category.button}</a>
            </p>
        </div>
    </section>
</section>
<Fragment slot="footer">
<section>
    <div id="story">
        <h2>{translation.master.nav[1].head}</h2>
        <ul>
            <li>
                <a href={ Astro.site.pathname+"story/"}>{translation.master.nav[1][1].title}</a>
            </li>
            <li>
                <a href={ Astro.site.pathname+"story/threepromises"}>{translation.master.nav[1][2].title}</a>
            </li>
            <li>
                <a href={ Astro.site.pathname+"story/nestpower"}>{translation.master.nav[1][3].title}</a>
            </li>
        </ul>
    </div>

    <aside>
        <ul id="sns">
            <li>
                <a href={translation.index.nav.sns[1].link}>
                    {translation.index.nav.sns[1].title}
                </a>
            </li>
            <li>
                <a href={translation.index.nav.sns[2].link}>
                    {translation.index.nav.sns[2].title}
                </a>
            </li>
            <li>
                <a href={translation.index.nav.sns[3].link}>
                    {translation.index.nav.sns[3].title}
                </a>
            </li>
        </ul>
    </aside>
</section>

<ul id="policy">
    <li>
        <a href={Astro.site.pathname+"contact"}>{translation.index.policy[1]}</a>
    </li>
    <li>
        <a href={Astro.site.pathname+"privacy"}>{translation.index.policy[2]}</a>
    </li>
</ul>
</Fragment>
</Layout>