---
import '../../styles/items.scss';
import Layout from '../../layouts/Layout.astro';
import translation from '../../locales/en.json';
import amazon from '../../img/Amazon-logo.png';

export async function getStaticPaths() {

      let arr =  [];
     for (let [key, value] of Object.entries(translation.products.items)) {
          arr.push({ params: { item: key },props: { item: value  }})
     }
     return arr;

}
const {
    item ,
    lang = "en",
    li1 =  item.imgUrl1 ?  `<li class=""><a href="${item.imgUrl1}" data-lightbox="product" data-title="${item.name}"><img src="${item.imgUrl1}" data-src="${item.imgUrl1}" alt="${item.name}" /></a></li>` : "",
    li2 =  item.imgUrl2 ?  `<li class=""><a href="${item.imgUrl2}" data-lightbox="product" data-title="${item.name}"><img src="${item.imgUrl2}" data-src="${item.imgUrl2}" alt="${item.name}" /></a></li>` : "",
    price2 = item.amazon2 ? `<div class="price-1 mt-5"><div class="price-name">Price</div><div class="price-number"><p class="price"><span class="value"><span class="txt-product-price">${item.price2}</span> </span></p></div></div><div class="price-2"><div class="product_item"><div class="buy_btn"><a href=${item.amazon2} target="_blank"><div>BUY NOW</div><div><img src=${amazon}></div></a></div></div></div>` : "",
    ingredients = item.ingredient.type == "table" ? item.ingredient.table : `<p style="max-width:fit-content;">${item.ingredient.list}</p>`,
    caution = item.caution ? "block" : "hidden"

} = Astro.props as Props
---

<script>
import '../../scripts/product.min.js';
</script>

<Layout lang={lang} title={item.title}  description={item.title} >

<Fragment slot="header">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css" integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js" defer></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>

<link rel="stylesheet" href={Astro.site.pathname+"css/item.css?8"}>

</Fragment>
     <section id="item" class="pt-12 mb-12 px-3 min-h-[80vh]">
          <figure id="item-images"><img src={item.imgUrl} style="opacity: 1;height:20rem;" alt="">
            <ul>
            <Fragment set:html={li1} />
            <Fragment set:html={li2} />
            </ul>
          </figure>

          <figure id="item-images-carousel" style="display:none;">
                        <img src={item.imgUrl} data-src={item.imgUrl} alt={item.name}>
                        <img src={item.imgUrl1} data-src={item.imgUrl1} alt={item.name}>
                        <img src={item.imgUrl2} data-src={item.imgUrl2} alt={item.name}>
          </figure>

        <div id="right-item">
        <section id="item-main">
          <header>
               <h3>{item.name}</h3>
               <p>Contents: {item.size}</p>
          </header>
               <p class="mb-3">{item.intro}</p>

          <div id="item-buy">

               <div class="price-1">
                  <div class="price-name">Price</div>
                  <div class="price-number">
                      <p class="price">
                        <span class="value"><span class="txt-product-price">{item.price}</span> </span>
                      </p>
                  </div>
              </div>

              <div class="price-2">
              <div class="product_item">
                  <div class="buy_btn">
                    <a href={item.amazon} target="_blank">
                        <div>BUY NOW</div>
                        <div><img src={amazon}></div>
                    </a>
                </div>
                </div>

            </div>
             <Fragment set:html={price2} />
            </div>
        </section>
            <ul id="item-detail">
                <li>
                    <details>
                    <summary>Product Features</summary>
                    <p style="max-width:fit-content;">{item.feature}</p>
                    </details>
                </li>
                <li>
                    <details >
                    <summary>{item.ingredient.title}</summary>
                        <p style="max-width:fit-content;">{item.ingredient.expiry}</p>
                       <Fragment set:html={ingredients} />
                    </details>
                </li>
                <li><details> <summary>{item.consume.title}</summary>
                <Fragment set:html={item.consume.content} />
                </details>
                </li>
                <li><details> <summary>Storage</summary>
                <Fragment set:html={item.storage} />
                </details>
                </li>
                <li class={caution}><details> <summary>Caution Items</summary>
                <Fragment set:html={item.caution} />
                </details>
                </li>
                </ul>

                  </div>

</section>
<section class="mt-8">

<h2 class="rec_item text-4xl text-center">RECOMMENDATIONS</h2>
<!-- Slider main container -->
<div class="block lg:hidden swiper">
  <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide flex">
        <a href={Astro.site.pathname+"products/"+item.recommend[1]} >
            <div class="text-center pb-3">
            <img src={translation.products.items[item.recommend[1]].imgUrl}/>
            <p>{translation.products.items[item.recommend[1]].title}</p>
            <p>{translation.products.items[item.recommend[1]].price}</p>
            </div>
        </a>

        <a href={Astro.site.pathname+"products/"+item.recommend[2]} >
            <div class="text-center pb-3">
            <img src={translation.products.items[item.recommend[2]].imgUrl}/>
            <p>{translation.products.items[item.recommend[2]].title}</p>
            <p>{translation.products.items[item.recommend[2]].price}</p>
            </div>
        </a>
        </div>

        <div class="swiper-slide flex">
        <a href={Astro.site.pathname+"products/"+item.recommend[3]} >
            <div class="text-center pb-3">
            <img src={translation.products.items[item.recommend[3]].imgUrl}/>
            <p>{translation.products.items[item.recommend[3]].title}</p>
            <p>{translation.products.items[item.recommend[3]].price}</p>
            </div>
        </a>

        <a href={Astro.site.pathname+"products/"+item.recommend[4]} >
            <div class="text-center pb-3 ">
            <img src={translation.products.items[item.recommend[4]].imgUrl}/>
            <p>{translation.products.items[item.recommend[4]].title}</p>
            <p>{translation.products.items[item.recommend[4]].price}</p>
            </div>
        </a>
        </div>
    </div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<div class="hidden lg:grid grid-cols-4 gap-5">

<a href={Astro.site.pathname+"products/"+item.recommend[1]}>
<div>
<img src={translation.products.items[item.recommend[1]].imgUrl}/>
<p>{translation.products.items[item.recommend[1]].title}</p>
<p>{translation.products.items[item.recommend[1]].price}</p>
</div>
</a>

<a href={Astro.site.pathname+"products/"+item.recommend[2]}>
<div>
<img src={translation.products.items[item.recommend[2]].imgUrl}/>
<p>{translation.products.items[item.recommend[2]].title}</p>
<p>{translation.products.items[item.recommend[2]].price}</p>
</div>
</a>

<a href={Astro.site.pathname+"products/"+item.recommend[3]}>
<div>
<img src={translation.products.items[item.recommend[3]].imgUrl}/>
<p>{translation.products.items[item.recommend[3]].title}</p>
<p>{translation.products.items[item.recommend[3]].price}</p>
</div>
</a>

<a href={Astro.site.pathname+"products/"+item.recommend[4]}>
<div>
<img src={translation.products.items[item.recommend[4]].imgUrl}/>
<p>{translation.products.items[item.recommend[4]].title}</p>
<p>{translation.products.items[item.recommend[4]].price}</p>
</div>
</a>
</div>
</section>
<script>

</script>
</Layout>