---
import '../../styles/items.scss';
import Layout from '../../layouts/Layout.astro';
import translation from '../../locales/en.json';
import amazon from '../../img/Amazon-logo.png';

export async function getStaticPaths() {

      let arr =  [];
     for (let [key, value] of Object.entries(translation.products.items)) {
          arr.push({ params: { item: key },props: { item: value  }})
     }
     return arr;

}
const {
    item ,
    lang = "en",
    li1 =  item.imgUrl1 ?  `<li class=""><a href="${item.imgUrl1}" data-lightbox="product" data-title="${item.name}"><img src="${item.imgUrl1}" data-src="${item.imgUrl1}" alt="${item.name}" /></a></li>` : "",
    li2 =  item.imgUrl2 ?  `<li class=""><a href="${item.imgUrl2}" data-lightbox="product" data-title="${item.name}"><img src="${item.imgUrl2}" data-src="${item.imgUrl2}" alt="${item.name}" /></a></li>` : "",
    price2 = item.amazon2 ? `<div class="price-1 mt-5"><div class="price-name">Price</div><div class="price-number"><p class="price"><span class="value"><span class="txt-product-price">${item.price2}</span> </span></p></div></div><div class="price-2"><div class="product_item"><div class="buy_btn"><a href=${item.amazon2} target="_blank"><div>BUY NOW</div><div><img src=${amazon}></div></a></div></div></div>` : ""

} = Astro.props as Props
---

<script type="module" hoist>
import '../../scripts/product.min.js';
</script>

<Layout lang={lang} title="faq" description="faq">

<Fragment slot="header">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css" integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js" defer></script>

<link rel="stylesheet" href={Astro.site.pathname+"css/item.css?6"}>

</Fragment>
     <section id="item" class="pt-12 mb-12 px-3 min-h-[80vh]">
          <figure id="item-images"><img src={item.imgUrl} style="opacity: 1;height:20rem;" alt="">
            <ul>
            <Fragment set:html={li1}>
            <Fragment set:html={li2}>
            </ul>
          </figure>

          <figure id="item-images-carousel" style="display:none;">
                        <img src={item.imgUrl} data-src={item.imgUrl} alt={item.name}>
                        <img src={item.imgUrl1} data-src={item.imgUrl1} alt={item.name}>
                        <img src={item.imgUrl2} data-src={item.imgUrl2} alt={item.name}>
          </figure>

        <div id="right-item">
        <section id="item-main">
          <header>
               <h3>{item.name}</h3>
               <p>Contents: {item.size}</p>
          </header>
               <p class="mb-3">{item.intro}</p>

          <div id="item-buy">

               <div class="price-1">
                  <div class="price-name">Price</div>
                  <div class="price-number">
                      <p class="price">
                        <span class="value"><span class="txt-product-price">{item.price}</span> </span>
                      </p>
                  </div>
              </div>

              <div class="price-2">
              <div class="product_item">
                  <div class="buy_btn">
                    <a href={item.amazon} target="_blank">
                        <div>BUY NOW</div>
                        <div><img src={amazon}></div>
                    </a>
                </div>
                </div>

            </div>
             <Fragment set:html={price2}>
            </div>
        </section>
            <ul id="item-detail">
                <li>
                    <details>
                    <summary>Product Features</summary>
                    <p style="max-width:fit-content;">{item.feature}</p>
                    </details>
                </li>
                <li>
                    <details >
                    <summary>Ingredients &amp; Nutrients List</summary>
                    <p style="max-width:fit-content;">Ingredients: lactose, swiftlets nest extract, galacto-oligosaccharide, swiftlets nest powder / lactoferrin, (including some milk components)</p>
                        <p style="max-width:fit-content;">Expiry Date: Stated underneath the frame</p>
                        <table style="max-width:fit-content;"><colgroup class="title"> </colgroup><colgroup class="detail"> </colgroup>
                        <thead>
                        <tr style="max-width:fit-content;"><th colspan="2">Nutrients Component in 1 Stick (per 1g)</th></tr>
                        </thead>
                        <tbody style="max-width:fit-content;">
                        <tr><th>Energy</th>
                        <td>3.92kcal</td>
                        </tr>
                        <tr><th>Carbohydrate</th>
                        <td>0.92g</td>
                        </tr>
                        <tr><th>Protein</th>
                        <td>0.05g</td>
                        </tr>
                        <tr><th>Salt Equivalent</th>
                        <td>0〜0.01g</td>
                        </tr>
                        <tr><th>Lipid</th>
                        <td>0〜0.01g</td>
                        </tr>
                        </tbody>
                        </table>
                    </details></li>
<li><details> <summary>How to Consume</summary>
<ul style="max-width:fit-content;">
<li>Granule powder type that dissolves easily with cold or hot water.</li>
<li>Enjoy it with smoothies, miso soup, or any of your favourite drinks and foods.</li>
</ul>
<p style="max-width:fit-content;">※ Please be careful not to overheat, because it will disrupt the nutrients. Please avoid from boiling it in a pot.</p>
</details></li>
<li><details> <summary>Storage</summary>
<p style="max-width:fit-content;">Please keep in a cool place or refrigerator and avoid hot and humid place or direct sunlight.</p>
</details></li>
<li><details> <summary>Caution Items</summary>
<ul style="max-width:fit-content;">
<li>Please open slowly so that contents does not scattered.</li>
<li>Consume immediately once opened</li>
<li>※ Because we are using only natural materials, colours of contents may differ or sediments may be generated, however, there is no problem on the quality.</li>
<li>If your body constitution does not suit due to ingestion of this product, please stop taking it.</li>
<li>After confirming the raw materials, those who have food allergy, please do not use.</li>
<li>If you are taking medication or are in the hospital, please consult your doctor or expert.</li>
<li>※ Please be careful not to overheat, because it will disrupt the nutrients. Please avoid from boiling it in a pot.</li>
</ul>
</details></li>
</ul>

                  </div>

</section>

</Layout>