---
import Layout from '../../layouts/Layout.astro';
import translation from '../../locales/en.json';
import '../../styles/products.scss';

import HealthyHeader from '../../img/en/bi-su-categories_pic02-en.jpg'
import CosmeticHeader from '../../img/en/bi-su-categories_pic01-en.jpg'
const {lang = "en" } = Astro.props;

---

<Layout lang={lang} title="products" description="products">
    <h1 class="lg:text-[2rem] text-center mt-12">{translation.products.title}</h1>
    <div class="flex lg:px-52 gap-5 mt-8">
        <a href="#healthy">
        <img src={HealthyHeader}>
        </a>
        <a href="#cosmetics">
        <img src={CosmeticHeader}>
        </a>
    </div>
     <section class="pt-12 lg:px-52 mt-32 relative" >
    <span id="healthy"></span>
     <h2 class="text-h2 lg:text-[3em]  text-center mb-7 text-main-gold-3 uppercase  lg:px-auto">{translation.products.healthy.title}</h2>
        <div class="grid grid-cols-3 border-t border-main-gold-3 pt-12">
            <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.healthy.bisu16.imgUrl} alt={translation.products.healthy.bisu16.title} data-src={translation.products.healthy.bisu16.imgUrl} alt={translation.products.healthy.bisu16.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.healthy.bisu16.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.healthy.bisu16.price}
                </a>
                </p>
            </div>



          <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.healthy.bisu16nonsugar.imgUrl} alt={translation.products.healthy.bisu16nonsugar.title} data-src={translation.products.healthy.bisu16nonsugar.imgUrl} alt={translation.products.healthy.bisu16nonsugar.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.healthy.bisu16nonsugar.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.healthy.bisu16nonsugar.price}
                </a>
                </p>
            </div>

            <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.healthy.jelly.imgUrl} alt={translation.products.healthy.jelly.title} data-src={translation.products.healthy.jelly.imgUrl} alt={translation.products.healthy.jelly.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.healthy.jelly.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.healthy.jelly.price}
                </a>
                </p>
            </div>

           <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.healthy.jellyrose.imgUrl} alt={translation.products.healthy.jellyrose.title} data-src={translation.products.healthy.jellyrose.imgUrl} alt={translation.products.healthy.jellyrose.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.healthy.jellyrose.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.healthy.jellyrose.price}
                </a>
                </p>
            </div>

           <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.healthy.threeset.imgUrl} alt={translation.products.healthy.threeset.title} data-src={translation.products.healthy.threeset.imgUrl} alt={translation.products.healthy.threeset.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.healthy.threeset.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.healthy.threeset.price}
                </a>
                </p>
            </div>

            <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.healthy.enzyme.imgUrl} alt={translation.products.healthy.enzyme.title} data-src={translation.products.healthy.enzyme.imgUrl} alt={translation.products.healthy.enzyme.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.healthy.enzyme.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.healthy.enzyme.price}
                </a>
                </p>
            </div>

            <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.healthy.drink.imgUrl} alt={translation.products.healthy.drink.title} data-src={translation.products.healthy.drink.imgUrl} alt={translation.products.healthy.drink.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.healthy.drink.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.healthy.drink.price}
                </a>
                </p>
            </div>

             <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.healthy.powder.imgUrl} alt={translation.products.healthy.powder.title} data-src={translation.products.healthy.powder.imgUrl} alt={translation.products.healthy.powder.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.healthy.powder.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.healthy.powder.price}
                </a>
                </p>
            </div>

             <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.healthy.candy.imgUrl} alt={translation.products.healthy.candy.title} data-src={translation.products.healthy.candy.imgUrl} alt={translation.products.healthy.candy.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.healthy.candy.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.healthy.candy.price}
                </a>
                </p>
            </div>
        </div>
     </section>
     <section class="pt-12 lg:px-52 relative" >
    <span id="cosmetics"></span>
     <h2 class="text-h2 lg:text-[3em]  text-center mb-7 text-main-gold-3 uppercase  lg:px-auto">{translation.products.cosmetics.title}</h2>
        <div class="grid grid-cols-3 border-t border-main-gold-3 pt-12">
            <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.cosmetics.facecream.imgUrl} alt={translation.products.cosmetics.facecream.title} data-src={translation.products.cosmetics.facecream.imgUrl} alt={translation.products.cosmetics.facecream.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.cosmetics.facecream.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.cosmetics.facecream.price}
                </a>
                </p>
            </div>



          <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.cosmetics.facemask.imgUrl} alt={translation.products.cosmetics.facemask.title} data-src={translation.products.cosmetics.facemask.imgUrl} alt={translation.products.cosmetics.facemask.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.cosmetics.facemask.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.cosmetics.facemask.price}
                </a>
                </p>
            </div>

            <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.cosmetics.lotion.imgUrl} alt={translation.products.cosmetics.lotion.title} data-src={translation.products.cosmetics.lotion.imgUrl} alt={translation.products.cosmetics.lotion.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.cosmetics.lotion.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.cosmetics.lotion.price}
                </a>
                </p>
            </div>

           <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.cosmetics.serum.imgUrl} alt={translation.products.cosmetics.serum.title} data-src={translation.products.cosmetics.serum.imgUrl} alt={translation.products.cosmetics.serum.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.cosmetics.serum.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.cosmetics.serum.price}
                </a>
                </p>
            </div>

           <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.cosmetics.milk.imgUrl} alt={translation.products.cosmetics.milk.title} data-src={translation.products.cosmetics.milk.imgUrl} alt={translation.products.cosmetics.milk.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.cosmetics.milk.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.cosmetics.milk.price}
                </a>
                </p>
            </div>

            <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.cosmetics.handcream.imgUrl} alt={translation.products.cosmetics.handcream.title} data-src={translation.products.cosmetics.handcream.imgUrl} alt={translation.products.cosmetics.handcream.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.cosmetics.handcream.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.cosmetics.handcream.price}
                </a>
                </p>
            </div>

            <div class="mb-8 grid text-center py-[10px] grid-cols-1 justify-evenly">
            <a class="" href="https://shop.bi-su.jp/product/14/">
            <figure class="px-[10px] overflow-hidden h-80">
                <img src={translation.products.cosmetics.handcreamrose.imgUrl} alt={translation.products.cosmetics.handcreamrose.title} data-src={translation.products.cosmetics.handcreamrose.imgUrl} alt={translation.products.cosmetics.handcreamrose.title} class="transition ease-in-out hover:scale-110 duration-300">
            </figure>
            <h3 class="text-center">{translation.products.cosmetics.handcreamrose.title}</h3>
            </a><p class="price text-center"><a href="https://shop.bi-su.jp/product/14/">
                    {translation.products.cosmetics.handcreamrose.price}
                </a>
                </p>
            </div>
        </div>
     </section>

</Layout>