---
import '$/styles/story-promises.scss';
import Layout from '$/layouts/Layout.astro';
import translation from '$/locales/en.json';
import PromiseHeaderSP from '$/img/en/SP/3promise-header-sp_en.jpg';
import PromiseHeader from '$/img/en/PC/story-headimg03_en.jpg';
import ThreePromises2 from '$/img/en/threepromises-con07.jpg';
import ThreePromises3 from '$/img/en/threepromises-con08.jpg';

const {lang = "en" } = Astro.props;

---

<script  >
import '$/scripts/story.ts';
</script>

<Layout lang={lang} title={translation.threepromises.title} description={translation.threepromises.title}>

<script>
const startup = () => {
        stickyItems({ main: "#promises", contents: ":scope > section" });
        sideNav({
            title: "three promises",
            target: "#promises",
            anchor: ["#section1", "#section2", "#section3"],
        });
    };
    window.addEventListener("DOMContentLoaded", startup, { passive: true });

</script>

<header>
    <h2>
        <picture>
            <source srcset={PromiseHeaderSP} media="(max-width: 480px)" />
            <img src={PromiseHeader} alt={translation.threepromises.title} />
        </picture>
    </h2>
</header>

<section id="promises">
    <header data-sal="slide-up" data-sal-duration="1500" data-sal-easing="linear" id="promises_header">
        <h3 title="Three promises">{ translation.threepromises.header.title}</h3>
          <div class="threepoints">
            <img src={Astro.site.pathname+"img/story/Image 40.png"} class="" />
            <img src={Astro.site.pathname+"img/story/Image 41.png"} class="" />
            <img src={Astro.site.pathname+"img/story/Image 42.png"} class="" />
          </div>
        <ol>
            <li>{ translation.threepromises.header.list[1]}</li>
            <li>{ translation.threepromises.header.list[2]}</li>
            <li>{ translation.threepromises.header.list[3]}</li>
        </ol>
    </header>

    <section id="section1">
        <header data-sal="slide-up" data-sal-duration="1500" data-sal-easing="linear">
            <h4>{ translation.threepromises[1].title}</h4>
            <figure><img src="/img/story/threepromises-con02.jpg" alt="" /></figure>
            <p>{ translation.threepromises[1].sub}</p>
        </header>

        <div data-sal="slide-up" data-sal-duration="1500" data-sal-easing="linear">
            <p>{ translation.threepromises[1].body[1]}</p>
            <figure><img src="/img/story/threepromises-con04.jpg" alt="" /></figure>
        </div>

        <div data-sal="slide-up" data-sal-duration="1500" data-sal-easing="linear">
            <p>{ translation.threepromises[1].body[2]}</p>
            <figure><img src="/img/story/threepromises-con03.jpg" alt="" /></figure>
        </div>
    </section>

    <section id="section2" data-sal="slide-up" data-sal-duration="1500" data-sal-easing="linear">
        <h4>{ translation.threepromises[2].title}</h4>

        <p class="image">
            <picture>
                <source srcset="/img/story/sp/threepromises-con09-sp_en.png" media="(max-width: 480px)" />
                <img src="/img/story/threepromises-con09_en.png" alt="" />
            </picture>
        </p>

        <p>{ translation.threepromises[2].body}</p>
    </section>

    <section id="section3" data-sal="slide-up" data-sal-duration="1500" data-sal-easing="linear">
        <header>
            <h4>{ translation.threepromises[3].title}</h4>
            <p>{ translation.threepromises[3].sub}</p>
        </header>

        <p>{ translation.threepromises[3].body[1]}</p>
        <p>{ translation.threepromises[3].body[2]}</p>
        <p>{ translation.threepromises[3].body[3]}</p>

        <ul>
            <li><img src={ThreePromises2} alt="" /></li>
            <li><img src={ThreePromises3} alt="" /></li>
        </ul>
    </section>
</section>
</Layout>