---
export interface Props {
  title?: string
  description?: string
  lang?: string
}
import translation from '../locales/en.json';
import Footer from '../components/Footer.astro'
import Meta from '../components/Meta.astro'
import Nav from '../components/Nav.astro';
import '../css/common.scss'

const { title, description,lang } = Astro.props as Props
---
<script defer type="module" hoist>
import '../js/common.ts';
</script>
<html lang={lang}>
  <head>
    <title>{translation.master.sitename} | {translation[title].title}</title>
    <meta
      name="description"
      content={translation.master.description}
    />

    <Meta>
      <slot name="head" />
    </Meta>
  </head>

  <body>
    <Nav translation={translation} />
    <main><slot /></main>
    <Footer translation={translation} />
  </body>
</html>
