---
export interface Props {
  title?: string
  description?: string
  lang?: string
}
import '../styles/common.scss'
import translation from '../locales/en.json';
import Footer from '../components/Footer.astro'
import Meta from '../components/Meta.astro'
import Nav from '../components/Nav.astro';

const { title, description,lang } = Astro.props as Props
---
<script type="module" hoist>
import '../scripts/common.ts';
</script>
<html lang={lang}>
  <head>
    <title>{translation.master.sitename} | {title}</title>
    <meta
      name="description"
      content={description}
    />

    <slot name="header"/>
    <Meta/>

  </head>

  <body>
    <Nav translation={translation} />
    <main>
      <slot />
    </main>

    <footer>
    <slot name="footer" />
    <Footer translation={translation} />
    </footer>
  </body>
</html>
